<header>
  <nav class="navbar">
    <div class="navbar-wrap">
      <a routerLink="/" class="navbar-logo">
        <div class="navbar-logo-img">
          <img src="assets/images/logo.png" alt="">
        </div>
        <p class="navbar-logo-text">Koala<span>Watching</span></p>
      </a>
      <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/movies">Movies</a></li>
        <li><a routerLink="/tvshows">TV Shows</a></li>
        <li><a routerLink="genres">Genres</a></li>
      </ul>
    </div>
  </nav>
</header>
